@font-face {
    font-family: "Satoshi";
    src: url(SATOSHI-REGULAR.OTF);
}
html body {
    margin: 0;
    height: 100%;
}
.section1 {
    margin: 0;
    padding: 13rem  0 0 0;
    height: 80vh;
    background-color: #e6ecf3;
    text-align: center;
}

.mainText {
    font-family: Satoshi, sans-serif;
    color: #0b2845;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 3rem 0 1rem 0;
    letter-spacing: -0.8px;
}

.blueText {
    color: #325ce8;
}

.subText {
    font-size: 1.4rem;
    font-family: Satoshi, sans-serif;
    margin: auto;
    padding: 0 1rem 1rem 1rem;
    color: #999;
    font-weight: lighter;
}

.firstButtonGroup {
    margin: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.getStarted {
    font-size: 1.3rem;
    padding: 1rem;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.onePager {
    font-size: 1.3rem;
    padding: 1rem;
    color: blue;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
}